/* CSS Document */
@keyframes slider{
0%{
	left: 0%;
}
20%{
	left: 0%;
}
25%{
	left: -100%; /*ảnh 1*/	
}
45%{
	left: -100%; /*ảnh 1*/
}
50%{
	left: -100%; /*ảnh 2*/
}
70%{
	left: -100%; /*ảnh 2*/	
}
75%{
	left: -100%; /*ảnh 3*/
	}
95%{
	left: -100%; /*ảnh 3*/
}
100%{
	left: 0%;
	}
}
	#slider{
		overflow: hidden;
	}
	#slider figure img{
		width: 20%;
		float: left;
	}
	#slider figure{
		position: relative;
		width: 500%;
		margin: 0;
		left: 0;
		text-align: left;
		font-size: 0;
		animation: 10s slider infinite;
	}
